.loginpage {
    .app-header {
        display: block;

        .pagetitle {
            margin-bottom: 1.5rem;
        }
    }

    .app-main {
        .app-image {
            img {
                width: 70vw;
                height: 70vw;
            }

            i {
                color: $color-danger;
            }
        }
    }
}
