.newpage {
    .app-main {
        section {
            position: relative;
            margin-top: 1rem;

            &#results {
                display: none;

                .app-image {
                    img {
                        width: calc(100vw - 1rem);
                        object-fit: cover;
                        height: calc(100vh - 24rem);
                    }
                }

                .app-controls {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba($color-black, 0.65);
                    border: none;
                }

                &.on {
                    display: initial;
                }
            }
        }
    }
}
