html {
    body {
        @include displayGrid(1fr, auto 1fr);
        height: 100vh;
        font-family: $font-primary;
        text-align: center;
        color: $color-white;
        background-color: $color-black;
    }
}
