.app-header {
    @include displayFlex();
    padding: 0.5rem;

    .userprofile,
    .newalbum,
    .goback {
        @include displayFlex();
        padding: 0.75rem;
        text-decoration: none;
        color: inherit;
        border-radius: 50%;

        i {
            font-size: 1.25rem;
        }

        &.active {
            background-color: $color-info !important;
        }
    }

    .userprofile {
        color: $color-white;
        background-color: rgba($color-white, 0.5);
    }

    .newalbum {
        color: $color-white;
        background-color: $color-success;
    }

    .goback {
        color: $color-white;
        background-color: rgba($color-white, 0.25);
    }

    .pagetitle {
        flex: 1;
    }
}
