.app-form {
    padding: 1.5rem;
    width: calc(100% - 3rem);
    border: 2px solid rgba($color-black, 0.25);
    border-radius: 0.25rem;

    .form-group {
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        label {
            display: block;
            margin-bottom: 0.25rem;
            font-weight: bold;

            &.required {
                &:after {
                    content: "*";
                    color: $color-danger;
                }
            }
        }

        .form-control {
            box-sizing: border-box;
            padding: 0.5rem 1rem;
            width: 100%;
            font-family: $font-primary;
            font-size: 1rem;
            text-align: center;
            background-color: $color-white;
            border: 1px solid $color-black;
            border-radius: 0.25rem;
        }

        .error {
            display: none;
            margin-top: 0.25rem;
            font-size: 0.9rem;
            font-weight: bold;
            color: $color-danger;
        }

        button[type="submit"] {
            margin-top: 1rem;
            font-size: 1.25rem;
            color: $color-white;
            background-color: $color-info;
        }
    }
}
