.app-image {
    position: relative;
    margin: auto 0;

    img {
        display: block;
        margin: 0 auto;
        width: calc(100vw - 1rem);
        height: calc(100vw - 1rem);
        object-fit: contain;
        border-radius: 0.25rem;
    }

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 14vw;
        transform: translateY(-50%) translateX(-50%);
    }
}
